@function r($px) {
    @return ($px/750) * 100vw;
  }
  ul,li{
      list-style: none;
  }
  *{
      margin: 0;
      padding: 0;
  }

.question-list{
width: 100%;
padding: 0 r(20);

.list-item{
    border-bottom: r(10) solid #E6E6E6;
    margin-bottom: r(20);
    h1{
        font-size: r(30);
        width: 100%;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom:1px solid #F5F5F5;
        padding:r(20) 0;
    }
    
    .item-header{
        padding: r(20) 0;
        width: 100%;
        display: flex;
        justify-content: start;
       
        align-items: center;
        img{
            vertical-align: baseline;
            width: r(50);
            height: r(50);
            border-radius: 50%;
            margin-right: r(10);
        }
        span{
            font-size: r(20);
            line-height:r(25) ;
        }
    }
    .item-content{
         position: relative;
       
      .content{
          overflow: hidden;
          text-overflow:ellipsis;
          display:-webkit-box;
          -webkit-line-clamp:3;
          -webkit-box-orient:vertical;
          width: 100%;
          font-size: r(25);
          line-height: r(50);
          
      }   
      .bottom{
         padding: r(10) 0;
             .approve{
        font-size: 12px;
            .icon-zan2{
                vertical-align:top;
                display: inline-block;
            }
            
        }
        .comment{
            font-size: 12px; 
            .icon-pinglun{
                vertical-align:bottom;
                display: inline-block;
            }
        }
      }
   
    }
}


}
