@function r($px) {
    @return $px / 18.75 + rem;
  }
.List-item{
    flex-direction: column;
    .approve{
    font-size: 12px;
   
        .icon-zan2{
            vertical-align:top;
            display: inline-block;
        }
        
    }
    .comment{
        font-size: 12px; 
        .icon-pinglun{
            vertical-align:bottom;
            display: inline-block;
        }
    }
    .item-header{
        height:r(25);
        width: 100%;
        display: flex;
        justify-content: start;
        img{
            vertical-align: baseline;
        }
        span{
            font-size: 12px;
            line-height:r(25) ;
        }
    }
}