@function r($px) {
    @return ($px/750) * 100vw;
  }
.List-item{
    flex-direction: column;
    margin-bottom: r(20);
    .approve{
    font-size: 12px;
        .icon-zan2{
            vertical-align:top;
            display: inline-block;
        }
        
    }
    .comment{
        font-size: 12px; 
        .icon-pinglun{
            vertical-align:bottom;
            display: inline-block;
        }
    }
    .item-header{
        height:r(40);
        width: 100%;
        display: flex;
        justify-content: start;
        margin-bottom: r(20);
        align-items: center;
        img{
            vertical-align: baseline;
        }
        span{
            font-size: 12px;
            line-height:r(25) ;
        }
    }
}