@charset "UTF-8";
@function r($px) {
    @return ($px/750) * 100vw;
  }
ul,li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
//热榜内容
.hotlist-content{
    width: 95vw;
    margin: auto ;
    //单项热榜
    .hotlist-item{
       display: flex;
       width: 100%;
       height: r(180);
       padding: r(20) 0;
       border-bottom: 1px solid 	#D3D3D3;
       align-items: center;
       justify-content: space-around;
       //热榜排名
       .hot-rank-img{
           width: r(50);
           height:  r(50);
       }
       .hot-rank{
           padding:0px r(20);
           font-weight: 600;
           color: #666;
           font-size: r(25);
       }
       .hot-title{
           font-weight: 600;
           font-size: r(30);
           padding: 0 r(15) 0  r(10);
         
       }
       .hot-img{
           width: r(250);
           height: r(140);
           align-self: baseline;
          
       }
    }
}