.register-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.register-container .header{
    width: 100%;
    height: 25vh;
    background-color: #0084ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}
.register-container .header i{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    font-size: 24px;
}
.register-container .content-box{
    padding: 0 2vw;
}

.register-container .content-box .smsCode-box{
    background-color: sandybrown;
    position: relative;
}
.register-container .content-box .smsCode-box span{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0084ff;
    color: #fff;
    height: 100%;
    /* padding: 0 8px; */
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    width: 25vw;
}
.register-container .gologin-box{
    padding: 0 2vw;
}

.register-container .footer-box{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.register-container .footer-box p{
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 25px;
}