@charset "UTF-8";
@function r($px) {
    @return ($px/750) * 100vw;
  }
  *{
      padding: 0;
      margin: 0;
  }
  ul,li{
      list-style: none;
  }
  .recommend{
      width: 100%;
      padding: 0 r(10);
       .title{
           height: r(60);
           line-height: r(60);
           font-size: r(40);
          
           padding-bottom: r(20);
           border-bottom: 1px solid black;
       }
  .list-item{
    border-bottom: r(10) solid black;
    margin-bottom: r(20);
    h1{
        font-size: r(30);
        width: 100%;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    span{
        font-size: r(35);
        font-weight: 600;
        color:#FF8C00;
    }
    }  
    .item-header{
        border-top: r(10) solid#DCDCDC;
        padding-top: r(20);
        height:r(80);
        width: 100%;
        display: flex;
        justify-content: start;
        margin-bottom: r(20);
        align-items: center;
        img{
            vertical-align: baseline;
            width: r(50);
            height: r(50);
            border-radius: 50%;
            margin-right: r(10);
        }
        span{
            font-size: r(25);
            line-height:r(25) ;
        }
    }
    .item-content{
         position: relative;
       
      .content{
          overflow: hidden;
          text-overflow:ellipsis;
          display:-webkit-box;
          -webkit-line-clamp:3;
          -webkit-box-orient:vertical;
          width: 100%;
          font-size: r(30);
           margin-bottom: r(20);
           span{
               font-size: r(35);
               color:  	#3CB371;
               font-weight: 600;
           }
         
      }   
    }

  }

}